$bg-color: #f95959;
$main-blue-color: #455D7A;
$p-font: 'Signika', sans-serif;
$h2-font: 'Inknut Antiqua', serif;
$h2-font-color: #fff;
$p-font-color: #233142;

@mixin nomargin {
	margin: 0;
}

@keyframes expand {
	from {width: 200px;}
	to{width: 30%}
}

*{box-sizing: border-box;}

a {
	text-decoration: none;
	&:visited {
		color: $p-font-color;
	}
}

#wrapper {
	@include nomargin;
	height: 100vh;
	background-color: $bg-color;
	text-align: center;
	display: flex;
	flex-direction: column;

	h2{
		@include nomargin;
		padding: 5%;
		color: $h2-font-color;
		text-shadow: 5px 4px 5px black;

		font: {
			family: $h2-font;
			size: 4em;
		}	
	}

	#title>img {
		margin-top: -90px;
		margin-bottom: 20px;
	}

	#random {
		border: 1px solid #e07d7d;
		padding: 7px 11px;
		border-radius: 25px;

		&:hover{
			color: #7ea656;
			border: 2px solid $bg-color;
		}
	}

	p {
		@include nomargin;
		padding: 20px;
		color: $p-font-color;

		font: {
			family: $p-font;
			size: 1.25em;
		}
	}

	input[type=text] {
		width: 200px;
		padding: 9px;
		border-radius: 10px;
		border: 3px solid $main-blue-color;

		&:focus {
			width: 30%;
			animation-name: expand;
			animation-duration: 1.5s;
			animation-timing-function: ease;
		}
	}

	ul {
		padding: 10px 50px 10px 50px;
		list-style: none;
		width: 70%;
		margin: 0 auto;

		li {
			display: flex;
			margin: 10px;
			text-align: left;
			min-height: 90px;
			height: auto;


			
			a {
				width: 100%;
				background-color: #fff;
				border-radius: 5px;

				&:hover {
					border-left: 10px inset #457a62;
				}

				&:visited {
					color: $p-font-color;
				}

				h4 {
					margin: {
						top: 15px;
						left: 15px;
					}
				}
				p {
					margin-top: 0;
					padding: {
						top: 0;
						left: 30px;
					}
				}
			}
		}
	}

	footer {
		background-color: $main-blue-color;
		flex: 1;
	}
}

.search-area {
	background-color: $main-blue-color;
}

#git, #twitter {
	margin-left: 20px;
	margin-bottom: -5px;
}